.map_view {
  width: 100%;
  height: 100%;
}

.map_con{
  width: 1450px;
  height: 600px;
}

.legend {
  width: 400px;
  height: 600px;
  
  position: absolute;
  top: 110px;

}

.ui-accordion .ui-accordion-content {
  max-height: 200px;
  min-height: 200px;
}


    .leaflet-container {  /* all maps */
        width:  1460px;
        height: 600px;
        position: fixed;
    }
